.profilePic {
  width: 400px;
  height: auto;
  border-radius: 3px;

}

.fluid-container {
  height: auto;
}
.image {
    padding-bottom: 0px;
    image-orientation: from-image;
    width: 100%;
    margin-left: 0px;
}
.bio {
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 3px;
  line-height: 14px;
  text-align: center;
  font-size: 13px;
  text-align: justify;
  height: 60%;
  overflow: scroll;

}
section {
  height: auto;
}
.wrapper {
  height: 70%;
}
h2 {
  text-align: center;
}
.hello {
  display: block;
}
#neil {
  top: 0;
  display: block;
}
.lastPara {
  font-size: 13px; line-height: 15px; padding-left:0px; padding-right: 0px; text-align: justify;
}
.break {
  height: 50px;
}
.purpose {
  padding: 20px;
}
